# fly.toml app configuration file generated for avr-tanks on 2026-02-28T06:43:59Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'avr-tanks-multi'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256

[processes]
  app = "node server.js"

[checks]
  [checks.health]
    type = "http"
    port = 8080
    path = "/"
    interval = "30s"
    timeout = "5s"
